{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.footer.enable }}
{{- with $data.homepage.footer }}

<footer id="footer" role="contentinfo">
	<a href="#" class="gotop js-gotop"><i><img height="50" src="/assets/img/icons8-arrow-up-64-fda870.png" alt="Go to Top of the Page"></i></a>
	<div class="container">
		<div>
			<div class="col-md-12 col-sm-12 text-center" style="margin-bottom:25px">
				<p class="col-md-4 col-sm-4"><a href="{{ .Site.BaseURL | relLangURL }}legal">{{ with $data.homepage.footer.legalName }}{{ . | markdownify }}{{ end }}</a></p>
				<p class="col-md-4 col-sm-4"><a href="{{ .Site.BaseURL | relLangURL }}legal">{{ with $data.homepage.footer.cookiesName }}{{ . | markdownify }}{{ end }}</a></p>
				<p class="col-md-4 col-sm-4"><a href="{{ .Site.BaseURL | relLangURL }}legal">{{ with $data.homepage.footer.privacyName }}{{ . | markdownify }}{{ end }}</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="social">
				{{ range .links }}
					<li><a href="{{ .link }}"><i><img width="30" height="30" src="{{ .icon }}"></i></a></li>
				{{ end }}
				</ul>
			</div>
		</div>
	</div>
</footer>
{{ end }}
{{ end }}