<style>
    .logo-position {
        margin-top:-30%;
    }
    .logo-position {
        margin-left: -20%;
    }

    @media (max-width:765px) {
    .logo-position {
        margin-top: -25%;
        }
    }
</style>    
   
   <header role="banner" id="fh5co-header" style="position:fixed">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    {{ $data := index .Site.Data .Site.Language.Lang }}

                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    {{- if $data.homepage.brand.companyLogo }}
                    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}"><picture><source width="{{ $data.homepage.brand.widthLogo }}" height="{{ $data.homepage.brand.heightLogo }}" srcset="{{ $data.homepage.brand.companyLogo }}" media="(min-width: 769px)"><img style="margin-top:-30%" width="{{ $data.homepage.brand.widthLogoMobile }}" height="{{ $data.homepage.brand.heightLogoMobile }}" src="{{ $data.homepage.brand.companyLogo }}" alt="logo"></picture></a> 
                    {{ else }}
                    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">{{ $data.homepage.brand.companyName }}</a> 
                    {{ end }}
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">

                    {{ range .Site.Menus.prepend }}
                        <li><a class="external" href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a></li>
                    {{ end }}

                    {{ if $data.homepage.contact.enable }}
                    <li style="background-color:#de8b57 !important;"><a href="#" data-nav-section="contact"><span>{{ $data.homepage.contact.menuName }}</span></a></li> 
                    {{ end }}

                    {{ if $data.homepage.blog.enable }}
                    <li><a class="external" href="{{ .Site.BaseURL | relLangURL }}/blog"><span>{{ $data.homepage.blog.menuName }}</span></a></li>
                    {{ end }}

                    {{ if $data.homepage.templates.enable }}
                    <li><a class="external" href="{{ .Site.BaseURL | relLangURL }}/templates"><span>{{ $data.homepage.templates.menuName }}</span></a></li>
                    {{ end }}

                </ul>
                        <!-- Language List -->
                        
                        {{ partial "language-switcher.html" .}}

                        <!-- </div> -->
    </div>
</header>
