{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.blog.enable }}
{{- with $data.homepage.blog }}

<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<a href="{{ .Site.BaseURL | relLangURL }}/blog" target="_blank"><h2 class=" left-border to-animate">{{ with $data.homepage.blog.title }}{{ . | markdownify }}{{ end }}</h2></a>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ with $data.homepage.blog.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .item }}
				<div class="col-md-6 col-sm-6 fh5co-services to-animate">
					<a href="{{ .Site.BaseURL | relLangURL }}{{ .link }}" target="_blank"><h3>{{ .title | markdownify }}</h3></a>
					<p>{{ .description | markdownify }}</p>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
		</div>
	</section>
{{ end }}
{{ end }}
