<style>
.footer-links a {
	color: white;
	text-decoration: underline;
 }
 .footer-links a:hover {
	color: #FDA870;
 }

 @media (max-width:1000px) {
	.footer-links {
		font-size: 10px;
	}
 }
 @media (min-width:1200px) {
 .float-lg {
		float:left;
	}
}
</style>

{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.footer.enable }}
{{- with $data.homepage.footer }}

<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i><img height="50" src="/assets/img/icons8-arrow-up-64-fda870.png" alt="Go to Top of the Page"></i></a>
		<div class="container">
			<div class="footer-links">
				<div class="col-lg-8 col-md-12 col-sm-12 text-center" style="margin-bottom:25px">
					<p class="col-lg-4 col-md-6 col-sm-6 col-xs-6"><a href="{{ .Site.BaseURL | relLangURL }}{{ with $data.homepage.footer.legalLink }}{{ . }}{{ end }}">{{ with $data.homepage.footer.legalName }}{{ . | markdownify }}{{ end }}</a></p>
					<p class="col-lg-3 col-md-6 col-sm-6 col-xs-6"><a href="{{ .Site.BaseURL | relLangURL }}{{ with $data.homepage.footer.privacyLink }}{{ . }}{{ end }}">{{ with $data.homepage.footer.privacyName }}{{ . | markdownify }}{{ end }}</a></p>
				</div>
			</div>
			<div class="row float-lg">
				<div class="col-md-12 text-center" style="margin-right:auto;margin-left:auto;">
					<ul class="social">
					{{ range .links }}
						<li><a href="{{ .link }}"><i><img width="30" height="30" src="{{ .icon }}"></i></a></li>
					{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</footer>
{{ end }}
{{ end }}