<style>
@media (max-width:765px) {
  #fh5co-home h1 {
    font-size: 38px !important;
  }
  #fh5co-home h2 {
    font-size: 28px !important;
  }
  #fh5co-home h3 {
    font-size: 18px !important;
	line-height: 2.1 !important;
  }
  #fh5co-home h4 {
    font-size: 12px !important;
  }
}
@media (min-width:766px) {
  #fh5co-home h2 {
    font-size: 32px !important;
  }
  #fh5co-home h3 {
    font-size: 22px !important;
	line-height: 1.8 !important;
  }
  #fh5co-home h4 {
    font-size: 12px !important;
  }
}
@media (min-width:900px) {
  .hero-align {
    margin-left:25vw;
  }
}
@media (max-width:1000px) {
  .hero-mobile {
    margin-top:-15%;
  }
}


</style>

{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.hero.enable }}
{{- with $data.homepage.hero }}
<!-- hero area -->
<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container" style="background-image: url('/assets/img/5125962.jpg'); background-position: 100% 50%; background-repeat: no-repeat;background-size: cover;width: 100vw">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
							<div class="col-md-12 col-sm-12 text-left hero-align hero-mobile">
							<h2 class="to-animate" style="margin-bottom:30px">{{ with $data.homepage.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
							<h3 class="to-animate" style="margin-bottom:7%; line-height: 1.8;">{{ with $data.homepage.hero.subtitle2 }}{{ . | markdownify }}{{ end }}</h3>
              <a href="#fh5co-contact" class="btn btn-primary btn-lg">{{ with $data.homepage.hero.button_label }}{{ . | markdownify }}{{ end }}</a>
            </div>
<!--
							<div class="col-md-12 col-sm-12 text-center" style="background-image: url('/assets/img/77451.jpg'); background-position: 100% 50%; background-repeat: no-repeat;background-size: cover;width: 100vw; height:30vh;">
							</div>
-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
{{- end }}
{{- end }}