<style>
    .logo-position {
        margin-top:-30%;
    }
    .logo-position {
        margin-left: -20%;
    }

    @media (max-width:765px) {
    .logo-position {
        margin-top: -25%;
        }
    }

.position {
background-color: transparent !important;
/*color: rgba(255, 255, 255, 0.5);*/
color: #FDA870;
position: relative;
font-size: 15px;
font-weight: 300;
border: none;
margin-top: 9px;
margin-left: 6px;
cursor: pointer;
}

li:hover {
  background-color: transparent !important;
}

.position:hover{
  background-color: transparent !important;
}

span:hover {
  background-color: transparent !important;
}

.flagselect {
  background-color: transparent;
  margin: 2px;
  font-weight: bold;
  font-size: 90%;
}

.flagnoselect {
  margin: 2x;
  color: black;
  font-size: 90%;
  font-weight: 600;
}
</style>    


    
    <header role="banner" id="fh5co-header">
        <div class="container">
            <!-- <div class="row"> -->
            <nav class="navbar navbar-default" style="background-color: transparent !important;">
                <div class="navbar-header" style="background-color: transparent !important;">
                    <!-- Mobile Toggle Menu Button -->
                    {{ $data := index .Site.Data .Site.Language.Lang }}

                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    {{- if $data.homepage.brand.logoDesktop }}
                    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}"><picture><source width="{{ $data.homepage.brand.widthLogo }}" height="{{ $data.homepage.brand.heightLogo }}" srcset="{{ $data.homepage.brand.logoDesktop }}" media="(min-width: 850px)"><img class="logo-position" width="{{ $data.homepage.brand.widthLogoMobile }}" height="{{ $data.homepage.brand.heightLogoMobile }}" src="{{ $data.homepage.brand.logoMobile }}" alt="logo"></picture></a> 
                    {{ else }}
                    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">{{ $data.homepage.brand.companyName }}</a> 
                    {{ end }}
                </div>

                <div id="navbar" style="background-color: transparent !important;" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right" style="background-color: transparent !important;">

                    {{ range .Site.Menus.prepend }}
                        <li><a class="external" href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a></li>
                    {{ end }}

                    {{- if $data.homepage.home.enable }}
                    <li class="active"><a href="{{ site.BaseURL | relLangURL }}" data-nav-section="home"><span>{{ $data.homepage.home.menuName }}</span></a></li>
                    {{ end }}
                    
                    {{- if $data.homepage.work.enable }}
                    <li><a href="#" data-nav-section="work"><span>{{ $data.homepage.work.menuName }}</span></a></li> 
                    {{ end }}

                    {{ if $data.homepage.testimonials.enable }}
                    <li><a href="#" data-nav-section="testimonials"><span>{{ $data.homepage.testimonials.menuName }}</span></a></li> 
                    {{ end }}

                    {{ if $data.homepage.pricing.enable }}
                    <li><a href="#" data-nav-section="pricing"><span>{{ $data.homepage.pricing.menuName }}</span></a></li> 
                    {{ end }}

                    {{ if $data.homepage.about.enable }}
                    <li><a href="#" data-nav-section="about"><span>{{ $data.homepage.about.menuName }}</span></a></li> 
                    {{ end }}

                    {{ if $data.homepage.contact.enable }}
                    <li><a href="#" data-nav-section="contact"><span style="font-weight:bolder !important;">{{ $data.homepage.contact.menuName }}</span></a></li> 
                    {{ end }}

                    {{ if $data.homepage.blog.enable }}
                    <li><a class="external" href="{{ $data.homepage.blog.link }}"><span>{{ $data.homepage.blog.menuName }}</span></a></li>
                    {{ end }}
                    
                    <li class="lang-list position" style="background-color: transparent !important;"><span style="background-color: transparent !important;">
                    <!-- Language List -->
                    {{ if .IsTranslated }}
                    <select class="lang-list position" style="background-color: transparent !important;" id="select-language" onchange="location = this.value;">
                      {{ $siteLanguages := .Site.Languages}}
                      {{ $pageLang := .Page.Lang}}
                      {{ range .Page.AllTranslations }}
                      {{ $translation := .}}
                      {{ range $siteLanguages }}
                      {{ if eq $translation.Lang .Lang }}
                      {{ $selected := false }}
                      {{ if eq $pageLang .Lang}}
                      <option class="flagselect" style="background-color: transparent !important;" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .Params.languageFlag }}  {{ .LanguageName }}
                      </option>
                      {{ else }}
                      <option class="flagnoselect" style="background-color: transparent !important;" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
                      {{ end }}
                      {{ end }}
                      {{ end }}
                      {{ end }}
                    </select>
                    {{ end }}
                  </span>
                  </li>
                </ul>

    </div>
    </nav>
</header>
