<style>
  .card-pricing {
  background: #004345;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #004345, #007670);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #004345, #007670); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  max-width: 80vw;
  margin-right:auto;
  margin-left: auto;
  border-radius: 25px;
}
@media (max-width:700px) {
  .card-pricing {
  max-width: 95vw !important;
  }
}

  /* card */
  .card {
  border: 0;
  border-radius: 0;
  }
  .card-img-top {
    border-radius: 0;
  }
  .card-header {
    border: 0;
  }
  .card-body {
    border: 0;
    border-radius: 0;
  }
  .card-body a {
    color: #fff !important ;
  }

  .card-footer {
    border: 0;
  }
/* /card */

  /* pricing */
.display-3 {
  line-height:1.2;
  font-weight:300;
  font-size:2.5rem;
}
.display-2 {
  line-height:1.2;
  font-weight:300;
  font-size: 1.7rem;
}
.font-weight-bold {
  font-weight:700 !important;
}
.vertical-align-middle {
  vertical-align: middle;
}

@media (max-width:1300px) {
  .lgtable {
    margin-left: 7.5vw !important;
  }
}
</style>

{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.pricing.enable }}
{{- with $data.homepage.pricing }}

<!-- pricing -->
<section id="fh5co-pricing" data-section="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border to-animate">{{ .title | markdownify }}</h2>
        <div class="row">
          <div class="col-md-8 subtext to-animate">
            <h3>{{ .description | markdownify }}</h3>
          </div>
        </div>
      </div>
    </div>

    {{- if $data.homepage.pricing.tableLg.enable }}
    {{- with $data.homepage.pricing.tableLg }}
    <div class="row">
      {{ range .pricingTableLg }}
      <div class="col-lg-12 col-sm-12 col-xs-12 mb-4 mb-lg-0" style="margin-bottom:30px">
        <div class="card bottom-shape" style="padding-top:4px;padding-bottom:5px">
          <div class="card-body text-center card-pricing" style="color:white;padding-top:15px;padding-bottom:15px;border-radius:25px">
            <h4 class="text-black display-3" style="margin-bottom:15px !important">{{ .title }}</h4>
            <p class="text-light display-2" style="margin-bottom:5% !important">{{ .subtitle | markdownify }}</p>
            <div class="col-lg-6 col-md-6 col-sm-12">
            <ul class="list-unstyled text-left lgtable" style="margin-bottom:30px !important">
              {{ range .serviceList }}
              <li class="text-white" style="margin-bottom:15px !important;margin-left:auto; margin-right:auto">{{ .service | markdownify }}</li>
              {{ end }}
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <ul class="list-unstyled text-left lgtable" style="margin-bottom:30px !important;">
              {{ range .serviceList2 }}
              <li class="text-white" style="margin-bottom:15px !important;margin-left:auto; margin-right:auto">{{ .service | markdownify }}</li>
              {{ end }}
            </ul>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12 mb-4 mb-lg-0">
            {{ with .button }}
            <a href="{{ site.BaseURL | relLangURL }}{{ .link }}" class="btn btn-primary btn-lg">{{ .label }}</a>
            {{ end }}
          </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}

    {{- if $data.homepage.pricing.tableMd.enable }}
    {{- with $data.homepage.pricing.tableMd }}
    <div class="row">
      {{ range .pricingTableMd }}
      <div class="col-lg-6 col-sm-12 col-xs-12 mb-4 mb-lg-0" style="margin-bottom:30px">
        <div class="card bottom-shape" style="padding-top:4px;padding-bottom:5px">
          <div class="card-body text-center card-pricing" style="color:white;padding-top:15px;padding-bottom:15px;border-radius:25px">
            <h4 class="text-black display-3" style="margin-bottom:15px !important">{{ .title }}</h4>
            <p class="text-light display-2" style="margin-bottom:5% !important">{{ .subtitle | markdownify }}</p>
            <ul class="list-unstyled text-left" style="margin-bottom:30px !important;margin-left:15%">
              {{ range .serviceList }}
              <li class="text-white" style="margin-bottom:15px !important;margin-left:auto; margin-right:auto">{{ .service | markdownify }}</li>
              {{ end }}
            </ul>
            {{ with .button }}
            <a href="{{ site.BaseURL | relLangURL }}{{ .link }}" target="{{ .target }}" class="btn btn-primary btn-lg">{{ .label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  
    {{- if $data.homepage.pricing.tableSm.enable }}
    {{- with $data.homepage.pricing.tableSm }}
    <div class="row">
      {{ range .pricingTableSm }}
      <div class="col-lg-4 col-sm-12 col-xs-12 mb-4 mb-lg-0" style="margin-bottom:30px">
        <div class="card bottom-shape" style="padding-top:4px;padding-bottom:5px">
          <div class="card-body text-center card-pricing" style="color:white;padding-top:15px;padding-bottom:15px;border-radius:25px">
            <h4 class="text-black display-3" style="margin-bottom:15px !important">{{ .title }}</h4>
            <p class="text-light display-2" style="margin-bottom:5% !important">{{ .subtitle | markdownify }}</p>
            <ul class="list-unstyled text-left" style="margin-bottom:30px !important;margin-left:5vw">
              {{ range .serviceList }}
              <li class="text-white" style="margin-bottom:15px !important;margin-left:auto; margin-right:auto">{{ .service | markdownify }}</li>
              {{ end }}
            </ul>
            {{ with .button }}
            <a href="{{ .link | safeURL }}" class="btn btn-primary btn-lg">{{ .label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
<!-- /pricing -->

{{ if .Site.Data.pricing.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}


{{ end }}
{{ end }}