{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.services.enable }}
{{- with $data.homepage.services }}

<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border to-animate">{{ with $data.homepage.services.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ with $data.homepage.services.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .item }}
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i><img src="{{ .icon }}" alt="" width="50" height="50"></i>
					<h3>{{ .title | markdownify }}</h3>
					<p>{{ .description | markdownify }}</p>
				</div>
				<div class="clearfix visible-sm-block" style="margin-bottom:20px !important"></div>
			{{ end }}
<!-- 			<p><a href="#" data-nav-section="contact" class="btn btn-primary js-gobottom" style="margin-top: 5%;">{{ $data.homepage.hero.button }}</a></p> -->	
		</div>
		</div>
	</section>
{{ end }}
{{ end }}
