{{ define "main" }}

<style>
	@media (max-width:765px) {
		.home-mobile {
		margin-top: -45% !important;
		}
    h2 {
      font-size: 18px !important;
    }
	}
</style>

{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- blog hero area -->
<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_1.jpg);height:90vh;" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-left home-mobile" style="margin-bottom:3%;">
							<h1>{{ with $data.homepage.blog.title }}{{ . | markdownify }}{{ end }}</h1>
							<h2>{{ with $data.homepage.blog.description }}{{ . | markdownify }}{{ end }}</h2>
						</div>
						<div class="text-left">
							{{ with $data.homepage.blog }}
							{{ range .item }}
							<div class="col-lg-6 col-md-6 col-sm-12" style="margin-right:5px;margin-bottom:15px;">
								<a href="{{ .link2 }}" class="btn btn-primary btn-lg">{{ .title | markdownify }}</a>
							</div>
							{{ end }}
							{{ end }}

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

 <section id="fh5co-services" data-section="services">
  <div class="container">
	  
    <div class="row" id="seo-strategies">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border to-animate">{{ with $data.blog.sections.title1 }}{{ . | markdownify }}{{ end }}</h2>
	  {{ range where .Site.Pages "Params.tags" "seo" }}
      <div class="col-md-6 col-sm-6 fh5co-services to-animate">
        <h3>{{ .Title | markdownify }}</h3>
        <p>{{ .Summary | markdownify }}</p>
        <a href="{{ .Permalink }}" class="btn btn-primary" style="color:white;letter-spacing:1px; font-size:11px;padding:1px 10px 1px 10px;margin-bottom:20px">{{ i18n "read_more" }}</a>
      </div>
	  {{ end }}
	</div>
    </div>

	<div class="row" id="performance-optimisation">
		<div class="col-md-12 section-heading text-left">
		  <h2 class=" left-border to-animate">{{ with $data.blog.sections.title2 }}{{ . | markdownify }}{{ end }}</h2>
		{{ range where .Site.Pages "Params.tags" "performance" }}
		<div class="col-md-6 col-sm-6 fh5co-services to-animate">
		  <h3>{{ .Title | markdownify }}</h3>
		  <p>{{ .Summary | markdownify }}</p>
		  <a href="{{ .Permalink }}" class="btn btn-primary" style="color:white;letter-spacing:1px; font-size:11px;padding:1px 10px 1px 10px;margin-bottom:20px">{{ i18n "read_more" }}</a>
		</div>
		{{ end }}
	</div>
</div>

	  <div class="row" id="website-features">
		<div class="col-md-12 section-heading text-left">
		  <h2 class=" left-border to-animate">{{ with $data.blog.sections.title3 }}{{ . | markdownify }}{{ end }}</h2>
		{{ range where .Site.Pages "Params.tags" "features" }}
		<div class="col-md-6 col-sm-6 fh5co-services to-animate">
		  <h3>{{ .Title | markdownify }}</h3>
		  <p>{{ .Summary | markdownify }}</p>
		  <a href="{{ .Permalink }}" class="btn btn-primary" style="color:white;letter-spacing:1px; font-size:11px;padding:1px 10px 1px 10px;margin-bottom:20px">{{ i18n "read_more" }}</a>
		</div>
		{{ end }}
	</div>
</div>

	  <div class="row" id="jamstack-pros-cons">
		<div class="col-md-12 section-heading text-left">
		  <h2 class=" left-border to-animate">{{ with $data.blog.sections.title4 }}{{ . | markdownify }}{{ end }}</h2>
		{{ range where .Site.Pages "Params.tags" "jamstack" }}
		<div class="col-md-6 col-sm-6 fh5co-services to-animate">
		  <h3>{{ .Title | markdownify }}</h3>
		  <p>{{ .Summary | markdownify }}</p>
		  <a href="{{ .Permalink }}" class="btn btn-primary" style="color:white;letter-spacing:1px; font-size:11px;padding:1px 10px 1px 10px;margin-bottom:20px">{{ i18n "read_more" }}</a>
		</div>
		{{ end }}
	</div>
</div>
</div>
<div class="slant"></div>

</section>
{{ end }}
